/* #region global */
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

input {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.infome-title,
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.infome-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

img {
  display: block;
}
/* #endregion global */

/* #region logo */
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
}
.logo-white {
  color: #f4f4fd;
}
/* #endregion logo */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  margin-right: 76px;
}

.header .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-page {
  display: flex;
  gap: 40px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-address {
  display: flex;
  gap: 40px;
}

.header-page {
  position: relative;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-page.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-page:hover,
.header-page:focus {
  color: #404bbf;
}

.header-page {
}

.header-page:active {
  text-decoration: underline;
}

.address {
  font-style: normal;
}

.header-address {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
/* #endregion */

/* #region section1*/

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  margin: auto;
}

.home-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.home-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-button:hover,
.home-button:focus {
  background-color: #404bbf;
}
/* #endregion section1*/

/* #region section2*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.infome {
  padding: 120px 0;
}

.box-icon-infome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.infome-icon {
}

.infome-list {
  display: flex;
  gap: 24px;
}

.infome-item {
  width: calc((100% - 72px) / 4);
}

.infome-subtitle {
  margin-bottom: 8px;
}
/* #endregion section2*/

/* #region section3*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-content {
  background-color: #ffffff;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-content {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name-prof {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
}

.team-social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
  margin-top: 8px;
}

.team-social {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.icon-team-social {
  fill: #f4f4fd;
}
/* #endregion section3*/

/* #region section4*/
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-content {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-overlay {
  padding: 40px 32px;
  color: #f4f4fd;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content:hover .portfolio-text-overlay {
  transform: translateY(0);
}

.portfolio-name-prof {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-content:hover {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* #endregion section3*/

/* #region footer*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0 132px;
}

.footer-info {
  margin-right: 120px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-icons {
  display: flex;
  gap: 16px;
}

.footer-social {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-group {
  margin-left: 80px;
}

.footer-text-form {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-label {
}

.footer-form-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
}

.icon-telegram {
  margin-left: 16px;
}
/* #endregion footer*/

/* #region overlay*/
.window-form-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-form-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.window-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-close-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-close-btn:hover,
.window-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.icon-none {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-none {
  fill: #ffffff;
}

.window-form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.window-form {
  margin-bottom: 8px;
}

.window-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.box-form-name {
  position: relative;
  width: 360px;
  height: 40px;
}

.window-form-name {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-form-name:focus {
  border-color: #4d5ae5;
}
.window-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-form-name:focus + .window-icon {
  fill: #4d5ae5;
}

.window-comment-box {
  width: 360px;
  height: 120px;
  margin-bottom: 16px;
}

.window-form-comment {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}
.window-form-comment:focus {
  border-color: #4d5ae5;
}

.window-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
}

.privacy-policy-box {
  margin: 16px 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #757575;
  padding-left: 8px;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.window-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-button:hover,
.window-button:focus {
  background-color: #404bbf;
}
.window-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion overlay*/
