body{
    color:#434455;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            background-color: #ffffff;
}

ul{
    list-style-type: none;
}

a{
    text-decoration:none
}

/* #region header */
.logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.116;
    letter-spacing: 0.03em;
}
.logo-dark{
    color: #2E2F42;
}

.header-page{
    color: #2E2F42;
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-page:hover, .header-page:focus{
    color: #404BBF;
}

.header-page:active{
text-decoration:underline 
}


.header-address {
 color:#434455 ;
}
    
.header-address:hover, .header-address:focus{
    color: #404BBF;
}
/* #endregion */

/* #region  */