/* #region global */
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.infome-title,
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.infome-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

img {
  display: block;
}
/* #endregion global */

/* #region logo */
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
}
/* #endregion logo */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .logo {
  margin-right: 76px;
}

.header .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-page {
  display: flex;
  gap: 40px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-address {
  display: flex;
  gap: 40px;
}

.header-page {
  position: relative;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-page:hover,
.header-page:focus {
  color: #404bbf;
}

.header-page {
}

.header-page:active {
  text-decoration: underline;
}

.address {
  font-style: normal;
}

.header-address {
  color: #434455;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
/* #endregion */

/* #region section1*/

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 188px 0;
}

.home-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.home-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-button:hover,
.home-button:focus {
  background-color: #404bbf;
}
/* #endregion section1*/

/* #region section2*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.infome {
  padding: 120px 0;
}

.box-icon-infome {
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.infome-icon {
}

.infome-list {
  display: flex;
  gap: 24px;
}

.infome-item {
  width: calc((100% - 72px) / 4);
}

.infome-subtitle {
  margin-bottom: 8px;
}
/* #endregion section2*/

/* #region section3*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-content {
  background-color: #ffffff;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-content {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name-prof {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
}

.team-social-icons {
  display: flex;
  gap: 24px;
  padding: 8px 16px 0;
}

.team-social {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
/* #endregion section3*/

/* #region section4*/
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-content {
  width: calc((100% - 48px) / 3);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-text-overlay {
  padding: 40px 32px;
  color: #f4f4fd;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content:hover .portfolio-text-overlay {
  transform: translateY(0);
}

.portfolio-name-prof {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
}

/* #endregion section3*/

/* #region footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion footer*/
